.body{
    display: flex;
    justify-content: center;
    align-items: center;

}

.form-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 7rem;
}
.job-post-section{
    min-height: 100vh;
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px 0px 20px 0px;
}
.job-box{
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 400px;
        
        height: fit-content;
        background-color: white;
        filter: drop-shadow(5px 5px 5px rgba(82, 81, 81, 0.575));
        padding: 1rem;
        color:black;
    }

    .job-box h2 {
        color: #ff474e;
        align-self: flex-start;
    }
    .item-detail-btn{
        height: 40px;
        border: 1px solid #3ac072;
        background-color: white;
        outline: none;
        transition: all 0.3s ease-in-out;
    }

    .item-detail-btn:hover{
        background-color: #3ac072;
        color: white;
        cursor: pointer;

    }